  /* capsule-div */

  .Capsules-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
  }

  .capsule-div {
    display: inline-block;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  
  .capsule-label {
    color: black;
    font-size: 1rem;
    font-weight: 600 ;
  }

  .capsule-icon {
    font-size: 20px;
    color: black;
    margin-right: 5px;
  }
