/* IconDivs */  
.iconDivPage {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }
  
  .CPB-Div {
    width: 100%;
    padding: 8% 0 8% 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }
  
  .IconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 5%;
  }
  