.reviewCard-Main-Div {
    border-radius: 20px;
    width: 27rem;
    margin: 2% 0 2% 0;
    background-color: white;
}

.reviewCard-Main-Grid {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 5px;
    padding: 7px;
}

.PNS-Div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 7px;
}

.PNS-Div img {
    justify-self: center;
    border-radius: 50%;
    width: 100%;
    max-width: 77px;
}

.PNS-NS {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

@media (max-width: 570px) {

    .reviewCard-Main-Div {
        width: 80%;    
    }
}  
  