/* HIWP-Divs */  

.HIWP-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 246, 229);
  }

  .HIWP-Text {
    padding: 2%;
    margin-top: 3%;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #ffda46;
    background-color: #ffd000;
  }
  
  /* SCSS for Laptop */
  @media (max-width: 811px) {

    .HIWP-Text {
      margin: 6% 0 6% 0;
    }

    .CPB-Div {
      grid-template-columns: auto;
    }

  }
  
  /* SCSS for Phone */
  @media (max-width: 600px) {

    .HIWP-Text {
      margin: 10% 0 10% 0;
      width: 70%;
    }

  }
