/* https://www.pinterest.com/pin/728035096075638990/ */

.OffCssBtn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent; 
  cursor: pointer;
  height: auto; /* Set height to auto */
}

  /* SCSS for PC */
