/* https://www.pinterest.com/pin/728035096075638990/ */

.OffCssBtn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent; 
  cursor: pointer;
  height: auto; /* Set height to auto */
}

  /* SCSS for PC */
  @media (max-width: 1920px) {
    .customer,
    .employee {
      width: 350px;
      height: 350px;
    }

    .authFormDiv {
      width: 40%;
      height: max-content;
    }
  }
  
  /* SCSS for Laptop */
  @media (max-width: 811px) {
    .customer,
    .employee {
      width: 300px;
      height: 300px;
    }

    .authFormDiv {
      width: 50%;
    }

    .HIWP-Text {
      margin: 6% 0 6% 0;
    }

    .CPB-Div {
      grid-template-columns: auto;
    }

  }
  
  /* SCSS for Tablet */
  @media (max-width: 710px) {
    .customer,
    .employee {
      width: 250px;
      height: 250px;
    }

    .authFormDiv {
      width: 65%;
    }
  }
  
  /* SCSS for Phone */
  @media (max-width: 600px) {
    .portalDiv {
      grid-template-columns: 1fr;
    }
  
    .customer,
    .employee {
      width: 250px;
      height: 250px;
    }

    .authFormDiv {
      width: 75%;
    }

    .homePage {
      justify-content: center;
    }

    .HIWP-Text {
      margin: 10% 0 10% 0;
      width: 70%;
    }


  }

/* Mini-Phone */

  @media (max-width: 376px) {
    .customer,
    .employee {
      width: 200px;
      height: 200px;
    }

    .authFormDiv {
      width: 90%;
    }
  }  
  
  /* Add styles for the clicked effect */
  .clicked {
    transform: translateY(10px);
  }
  